<style type="text/css">
    body{
    background-color: #e0dede;
    }

    .link {
    color:grey;
    text-decoration: none;
    background-color: none;
    }

    .bd-placeholder-img {
        font-size: 1.115rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    }

    @media (max-width: 768px) {
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) {
		.right-column{
			margin-left: 20px;
		}
	}

	.blog-post-container{
		margin-bottom: 20px;
		width: 100%;
	}

	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}

	.lead{
		font-size: 17px;
	}

    .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}

    .card{
        max-width: 700px;
        width: 100%;
	}

	.card-body{
		padding: 20px;
	}

	.comment{
        max-width: 350px;
        width: 50%;
	}
</style>

